body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  Input color  */
input:focus {
    border-bottom: 1px solid #ee6e73 !important;
    box-shadow: 0 1px 0 0 #ee6e73 !important;
}

label.active {
    color: #ee6e73 !important;
}

.input-field .prefix.active {
    color: #ee6e73;
}

/*  =============  */

/* Padding */
.p-0 {
    padding: 0;
}

.px-1 {
    padding: 0 1rem;
}

.px-2 {
    padding: 0 2rem;
}

/* Margin */
/* Top */
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

/* Bottom */

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

/* Flex */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Dropdown */
.dropdown-container {
    position: relative;
    padding-top: 7px;
}

.dropdown-content {
    background-color: #FFFFFF;
    display: block;
    margin: 0;
    min-width: 170px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
    top: -176px;
    left: 1px;
}
.dropdown-content_active {
    opacity: 1;
    top: 64px;
    left: -40px;
}

/* Avatar */
.rounded-circle {
    background-color: #eafaf9;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    transition: all ease 0.5s;
}
.rounded-circle:hover {
    background-color: #eafaf9;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px rgba(100, 100, 100, .4);
}

/* Active Link */
nav ul li a.active {
    background-color: rgba(0, 0, 0, 0.1);
}

/*  Search Panel  */
#searchPanel {
    box-sizing: border-box;
    padding: 0 1rem;
}


/*  Cards  */

.card .card-content p {
    font-size: 14px;
}

.card .card-content .card-content__price {
    font-size: 14px;
    font-weight: bold;
}

.card.horizontal .card-stacked .card-content {
    display: flex;
    flex-direction: column;
}

.card.horizontal .card-stacked {
    flex: 1 0 60%;
}

.card .card-content .card-content__header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .card-content .card-content__content {
    flex: 1 0 65%;
}

.card.horizontal .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card.horizontal .card-image {
    width: 350px;
    height: 230px;
}

.revers-sort {
    transform: rotateX(180deg);
}

.card.card-product .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 30%;
}

.card.card-product .card-stacked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Basket Card */
.card.horizontal.card__basket {
    position: relative;
    display: flex;

}

.card.horizontal.card__basket .card-image {
    flex: 0 1 auto;
}

.card.horizontal.card__basket .card-stacked {
    display: flex;
    flex-direction: row;
}

.btn-basket {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Card order */
.card.order .card-stacked {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card.order .card-stacked .card-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
}


/*  Collection  */
.categories {
    margin: 0;
}

.collection .collection-item {
    display: block;
    transition: .25s;
    color: #ee6e73;
    cursor: pointer;
}

.collection .collection-item.active {
    background-color: #ee6e73;
    color: #eafaf9;
}