body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  Input color  */
input:focus {
  border-bottom: 1px solid #ee6e73 !important;
  box-shadow: 0 1px 0 0 #ee6e73 !important;
}
label.active {
  color: #ee6e73 !important;
}
/*  =============  */

.p-0 {
  padding: 0;
}
.px-1 {
  padding: 0 1rem;
}
.px-2  {
  padding: 0 2rem;
}

/*  Search Panel  */
#searchPanel {
  box-sizing: border-box;
  padding: 0 1rem;
}


/*  Cards  */

.card .card-content p {
  font-size: 14px;
}
.card .card-content .card-content__price {
  font-size: 14px;
  font-weight: bold;
}
.card.horizontal .card-stacked .card-content {
  display: flex;
  flex-direction: column;
}
.card.horizontal .card-stacked {
  flex: 1 0 60%;
}

.card .card-content .card-content__header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card .card-content .card-content__content {
  flex: 1 0 65%;
}
.card.horizontal .card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card.horizontal .card-image {
  width: 350px;
  height: 230px;
}

.revers-sort {
  transform: rotateX(180deg);
}